@{
    ViewBag.Title = "_Navbar";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <img id="logo" src="~/Assets/logo-dark.png">
            </div>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Category<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="MobileApps" asp-action="Index" asp-route-category="Games">Games&Entertainment</a></li>
                    <li><a asp-controller="MobileApps" asp-action="Index" asp-route-category="Food">Food</a></li>
                    <li><a asp-controller="MobileApps" asp-action="Index" asp-route-category="Sport">Sport</a></li>
                    <li><a asp-controller="MobileApps" asp-action="Index" asp-route-category="Technology">Technology</a></li>
                    <li><a asp-controller="MobileApps" asp-action="Index" asp-route-category="Music">Music</a></li>
                </ul>
        </ul>

        @if (SignInManager.IsSignedIn(User))
        {
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                    </li>
                    <li>
                        <a asp-controller="Manage" asp-action="MyApps">My applications</a>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                    </li>
                </ul>
            </form>
        }
        else
        {
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-controller="Account" asp-action="Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        }

        <form asp-controller="MobileApps" asp-action="Search" method="post" class="navbar-form navbar-left">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="query">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</nav>